@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Spedisci i tuoi pacchi in tutto il mondo a prezzo unici!!!</h1>
    <div class="d-flex justify-content-center">
        <img class="homeImg card-img" src="~/Content/img/furgone.png" />
    </div>
</main>